# Bỏ qua môi trường ảo (không bao giờ push cái này)
venv/

# Bỏ qua file bảo mật chứa SECRET_KEY
.env


# Bỏ qua các file cache tự sinh của Python
__pycache__/
*.pyc

# Bỏ qua bộ nhớ tạm của Visual Studio
.vs/

# Bỏ qua tài liệu/báo cáo xuất tạm khi làm bài
output/
